<div class='container'>
  <p id="notice"><%= notice %></p>

  <div class='jumbotron'>
    <h1><%= @project.title %></h1>
  </p>

  <p>
    <%= @project.description %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %> |
  <%= link_to 'Back', projects_path, class: 'btn btn-secondary' %>
</div>